html {
  font-size: 18px;
}

* {
  color:white;
  /*font-family: "Times New Roman";*/
  font-family: "Helvetica", sans-serif;
}

h1,
h4 {
  font-weight: bold;
}
.header {
  /*display: flex;
  flex-direction: row;
  background-color: black;
  background-size: px 1350px;
  font-size: 7px;*/
  background-color: black;
  /*background-size: px 1350px;*/
 /* font-size: 7px;*/
  padding: .66rem 0 .66rem 0.5rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header .container {
 max-width: 960px;
 margin: 0 auto;
 display: flex;
 flex-direction: row;
 align-items: center;
}

/*img {
height: 9px;
width: 13px;
}*/

header img {
  height: 1.5rem;
  padding-right: 1rem;
}

p {
  /*margin: 0 5px;
  padding: 5px 15px;
  font-size: 3px;*/
}

#banner {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: top center;*/
  background-position: center;
  /*height: 300px;*/
  height: 25rem;
  /*width: 1350px;*/
}

.content {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:: center;
  background-color: black;
  height: 100px;
  width: 200px;
  margin-top: 30px;
  margin-left: 50px;*/
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

.content h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
  line-height: 1.2;
}

/*.arrival {
  font-size: 8px;
}*/


.navigation {
  /*display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height:50px;
  width: 1350px;*/
  background-color: firebrick;
  color: white;
  }

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

a {
  text-decoration: none;
}

.middle {
  display: flex;
  background-color: white;
  padding: 0.75rem 0;
  flex-direction: row;
}
.products {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;
}

.product-image {
  border: 5px solid black;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 50%;
  max-height: 50%;
}
.product-image a {
  position: relative;
  background-color: black;
}

.business-info {
  display: flex;
  }

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
}

.location p {
  background-color: black;
}

.hours {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
}

p .biz {
  color: black;
  background-color: white;
}

.hours p {
  background-color: black;
}


.footer {
  display: flex;
  background-color: black;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem 0;
}
