* {color:white;
}

.header {
  display: flex;
  background-color: black;
  background-size: 50px 1350px;
}

header {
  display: inline-flex;
  flex-direction: row;
}

#banner {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 300px;
  width: 1350px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:: center;
  background-color: black;
  height: 100px;
  width: 200px;
  margin-top: 30px;
  margin-left: 50px;
}

.arrival {
}

.products{
  }

.navigation {
  background-color: red;
  height:50px;
  width: 1350px;
  }

.navbar {
  display: flex;
  padding: 10px 0;
}

nav a {
  display: inline-flex;
  }
